extends layout

block content
  .header
    .splash
      h1 Bet You Can't
      .span6
        - if (user_id)
          a(class='btn btn-success', href='/logout') Logout
        - else
          a(class='btn btn-success', href='/login') Login
        a(class='btn btn-success', href='/signup') Signup
