extends layout

block content
  .splash
    h1 Bet You Can't
    .span6
      a(class='btn btn-bets', href='/bets') Bets
    .span6
      - if (user_id)
        a(class='btn', href='/logout') Logout
      - else
        a(class='btn', href='/login') Login
        a(class='btn', href='/signup') Signup
