extends layout

block content
  .splash
    h2 Submit A Response
    .error
      //-p #{message}
      - if (typeof(message) !== 'undefined'){
        each err in message
          p= err
      - }
    form(name="response", method="post", action=path)
      br
      p Link To Video
      input.form-control(type="text", placeholder="url", name="url") 
      br
      br
      button.btn.btn-default(type="submit") submit
  
