body {
  padding: 50px;
  font-family: 'Lato', sans-serif;
  color: #E25D33;
  background-color: #F1A38A;
}

a {
  color: #00B7FF;
}

.error{
  color: #F22613;
}

.splash {
  text-align: center;
  padding-top: 100px;
}

.splash p {
  font-size: 24px;
}

.splash input{
  margin-bottom: 20px;
}

h1, h2 {
  padding-bottom: 50px;
  font-size: 104px;
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 72px;
  padding-bottom: 20px;
}

.splash .btn {
  margin-left: 15px;
  margin-right: 15px;
	padding: 20px 50px;
  font-size: 24px;
	border-radius: 6px;
  background-color: #E25D33;
}

.splash .btn-bets{
	padding: 50px 150px;
	margin-bottom: 50px;
}
